
.recent-results {
    text-align: center;
    margin-top: 20px;
  }
  
  .results-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .result-box {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 1.2em;
  }
  
  .result-number {
    font-weight: bold;
  }
  /* da */

